# IntelliJ / Android Studio 개인 설정 파일 제외
.idea/.name
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/inspectionProfiles/
.idea/runConfigurations.xml
.idea/vcs.xml

*.iml
.gradle

# Android build files
/build/
/app/build/

local.properties
dev_credentials.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

/captures
.externalNativeBuild
.cxx